*{
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

#navbar{
    background-color:#ffdebe;
}

#navbarNav{
    margin-right: 200px;
}

#list{
    margin-right: 30px;
}

#list:hover{
    text-decoration: underline;
    color: #000;
}




 /*part 1*/



 #row1{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #fff7ef;
}

.head1{
    height: 70px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}



/*code regarding form */



#col2{
    position: relative;
    float: left;
    padding: 100px;
    align-items: center;
}

#btn1{
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    position: relative;
    left: 110px;
}

#btn1:hover{
    background-color: #96ae8d;
    color: #fff;
    border: none;
}

#col7{
    padding: 50px;
    position: relative;
    float: right;
}

#col8{
    text-align: left;
    position: relative;
    float: left;
    margin-left: 50px;
}

#col9{
    position: relative;
    float: left;
    margin-left: 50px;
    padding: 20px;
    text-align: left;
}

#col14{
    position: relative;
    float: left;
    margin-left: 50px;
    padding: 20px;
    text-align: left;
}

#col15{
    position: relative;
    float: left;
    margin-left: 50px;
    padding: 20px;
    text-align: left;
}

.ph5 a{
    color: #000;
    text-decoration: none;
}

.head5{
    
    
    height: 50px;
}

.head2{
    height: 50px;
}

.head3{
    height: 50px;
}

.head4{
    height: 50px;
}






  /*code for footer*/



#row6{
    background-color: #405139;
    padding: 50px;
    color: #fff;
}

.head7{
    height: 50px;
    margin-top: 20px;
}

.head8{
    margin-top: 20px;
    height: 50px;
}

.head9{
    margin-top: 20px;
    height: 50px;
}

#btn6{
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    color: #fff;
}

#btn6:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

#it1{
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
}

#it1:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.a{
    color: #fff;
}